{{ define "title"}}Help{{ end }}

{{ define "content" }}
    <h2 class="text-center">Jailbreaking Help and Support</h2>

    <hr>

    <div class="col-md-4">
        <div class="well text-center">
            <h1><i class="fa fa-users fa-2x"></i></h1>
            <h2><a href="http://jailbreakqa.com">JailbreakQA</a></h2>
            <p>The recommended site for jailbreak support. Anyone can ask questions, and they will be answered quickly by a dedicated community of jailbreakers.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well text-center">
            <h1><i class="fa fa-reddit fa-2x"></i></h1>
            <h2><a href="http://reddit.com/r/jailbreak">/r/jailbreak</a></h2>
            <p>The jailbreak subreddit. Casual jailbreak conversation and announcements as well as help and support.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well text-center">
            <h2>
            <span class="fa-stack fa-lg">
                <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
                <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
            </span>
            </h2>
            <h2><a href="http://theiphonewiki.com">TheiPhoneWiki</a></h2>
            <p>A wiki containing information detailing jailbreak exploits and techniques. A great place for aspiring developers to start.</p>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-4">
        <div class="well text-center">
            <h2>
            <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
            </span>
            </h2>
            <h2><a href="http://iphonedevwiki.net">iPhoneDevWiki</a></h2>
            <p>A collection of documentation written by developers to help each other write extensions (tweaks) for jailbroken iOS.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well text-center">
            <h1><i class="fa fa-info-circle fa-2x"></i></h1>
            <h2><a href="http://canijailbreak.com/">CanIJailbreak.com</a></h2>
            <p>A site that contains information about current and previous jailbreak releases for your device and iOS version.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well text-center">
            <h1><i class="fa fa-comments fa-2x"></i></h1>
            <h2><a href="irc://irc.freenode.net/jailbreakqa">JailbreakQA IRC</a></h2>
            <p>An IRC chat for support and general jailbreak guidance. It also contains <a href="https://api.ipsw.me/docs/misc/ipswbot">ipswbot</a>, the helpful iOS download bot.</p>
        </div>
    </div>

    <div class="clearfix"></div>
{{ end }}