{{ define "title"}}Home{{ end }}

{{ define "content" }}
    <div class="most-recent text-center">
        <p>
            My iOS device is on

            <strong>
                iOS {{ .MostRecent.Firmwares.Start }}
                {{ with .MostRecent.Firmwares.End }} &rarr; {{ . }} {{ end }}
            </strong>
        </p>

        {{ if .MostRecent.Jailbroken }}
            <div class="text-success">
                <i class="fa fa-check"></i>
                Jailbreak using
                <a href="{{.MostRecent.URL}}">{{ .MostRecent.Name }}</a>.
            </div>

            {{ with .MostRecent.Caveats }}
                <p class="text-warning">{{ . | trustHTML }}</p>
            {{ end }}

            {{ range $plat := .MostRecent.Platforms }}
                <i class="fa fa-{{ $plat | osIcon }}" title="{{ $plat }} compatible"></i>
            {{ end }}

        {{ else }}
            <div class="text-danger">
                <i class="fa fa-times"></i> No jailbreak yet <i class="fa fa-frown-o"></i>.
                Check back later!
            </div>

            {{ with .MostRecent.Caveats }}
                <p class="text-warning">{{ . | trustHTML }}</p>
            {{ end }}

            <em>
                If you are already jailbroken, we recommend that you <strong>do not upgrade</strong>
                or you will lose your jailbreak!
            </em>
        {{ end }}
    </div>

    <hr>

    <div class="previous">
        {{ range $jb := .Jailbreaks }}
            <div class="col-xs-12 col-sm-6 col-md-4 jailbreak">
                <h3>
                    iOS {{ $jb.Firmwares.Start }}
                    {{ with $jb.Firmwares.End }}
                        &rarr; {{ . }}
                    {{ end }}
                </h3>

                {{ if $jb.Jailbroken }}
                    <p class="text-success">
                        <i class="fa fa-check"></i>
                        Jailbreak using
                        <a href="{{ $jb.URL }}">
                            {{ $jb.Name }}
                        </a>
                    </p>

                    {{ range $plat := $jb.Platforms }}
                        <i class="fa fa-{{ $plat | osIcon }}" title="{{ $plat }} compatible"></i>
                    {{ end }}

                    {{ with $jb.Caveats }}
                        <p class="text-warning">
                            {{ . | trustHTML }}
                        </p>
                    {{ end }}
                {{ else }}
                    <p class="text-danger">
                        <i class="fa fa-times"></i> No jailbreak yet :(. Check back later!<br>
                    </p>
                {{ end }}
            </div>
        {{ end }}
    </div>

    <div class="clearfix"></div>

{{ end }}