body {
    padding-top: 20px;
}

div.top {
    text-align: center;
    padding-bottom: 20px;
}

div.top small {
    color: #999;
}

div.most-recent {
    font-size: 1.5em;
}

div.most-recent i.fa {
    padding-left: 4px;
    padding-right: 4px;
}

div.navigation a {
    padding-left: 5px;
    padding-right: 5px;
}

div.jailbreak {
    text-align: center;
    min-height: 180px;
}

div.jailbreak i.fa {
    padding-left: 4px;
    padding-right: 4px;
}

div.previous {
    text-align: center;
}

img.img-header {
    width: 100px;
    height: 100px;
}

div.footer {
    text-align: center;
    padding-bottom: 30px;
}